extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate condimentum nibh sit amet aliquam. Suspendisse accumsan imperdiet varius. Fusce lacinia orci in mauris euismod, bibendum laoreet augue dignissim. Sed scelerisque mi leo, ac tincidunt sem cursus vel. Cras id lorem enim. Curabitur at auctor ligula. Etiam at nisi erat. Quisque luctus aliquam neque a faucibus. 
                p Aliquam erat volutpat. Morbi ipsum orci, posuere quis gravida nec, laoreet in sapien. Phasellus dolor quam, consequat id egestas id, ultrices vel metus. Praesent ac purus nec nulla dapibus bibendum. Nullam ut porttitor metus. Praesent urna arcu, volutpat ac gravida at, tincidunt a mi. Ut ac tempor ipsum, nec rhoncus nibh.

                p Fusce feugiat gravida enim, quis molestie libero. Pellentesque fermentum eleifend arcu at rhoncus. Morbi et augue dapibus, faucibus erat eget, ultrices urna. Vestibulum finibus vulputate neque, vel consequat felis tristique ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur facilisis posuere tortor id rhoncus. Praesent sed varius lorem.
    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Fusce feugiat gravida enim, quis molestie libero. Pellentesque fermentum eleifend arcu at rhoncus. Morbi et augue dapibus, faucibus erat eget, ultrices urna. Vestibulum finibus vulputate neque, vel consequat felis tristique ut. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Fusce feugiat gravida enim, quis molestie libero. Pellentesque fermentum eleifend arcu at rhoncus. Morbi et augue dapibus, faucibus erat eget, ultrices urna. Vestibulum finibus vulputate neque, vel consequat felis tristique ut. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Fusce feugiat gravida enim, quis molestie libero. Pellentesque fermentum eleifend arcu at rhoncus. Morbi et augue dapibus, faucibus erat eget, ultrices urna. Vestibulum finibus vulputate neque, vel consequat felis tristique ut. 